
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow( gaussian , rgb(1, 17, 17), 0,0,0,1 );

}

/*.table-view{*/
/*    -fx-border-color: transparent;*/
/*}*/

#buttonAddFriendship:hover{
    -fx-background-color: #455760;
}
#buttonAddFriendship{
    -fx-background-color: #536976;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#buttonDeleteFriendship:hover{
    -fx-background-color: #455760;
}
#buttonDeleteFriendship{
    -fx-background-color: #536976;
    -fx-text-fill: white;
    -fx-font-size: 16;

}

#buttonFriendshipRequest:hover{
    -fx-background-color: #455760;
}
#buttonFriendshipRequest{
    -fx-background-color: #536976;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#butonMessages:hover{
    -fx-background-color: #455760;

}
#butonMessages{
    -fx-background-color: #536976;
    -fx-text-fill: white;
    -fx-font-size: 16;

}

#buttonReports:hover{
    -fx-background-color: #455760;
}

#buttonReports{
    -fx-background-color: #536976;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#buttonEvents:hover{
    -fx-background-color: #455760;
}

#buttonEvents{
    -fx-background-color: #536976;
    -fx-text-fill: white;
    -fx-font-size: 16;
}


#myCircle{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}

/*
set image on labels
 */
#labelNotification{
    -fx-background-image: url("bell.png");
    -fx-background-repeat: no-repeat;

}

#labelBack{
    -fx-background-image: url("back.png");
    -fx-background-repeat: no-repeat;
}

#labelNextPage{
    -fx-background-image: url("forward.png");
    -fx-background-repeat: no-repeat;

}

#labelEventIcon{
    -fx-background-image: url("event.png");
    -fx-background-repeat: no-repeat;
}


#labelPreviousPage{
    -fx-background-image: url("back.png");
    -fx-background-repeat: no-repeat;
}


#labelReportsIcon{
    -fx-background-image: url("reports.png");
    -fx-background-repeat: no-repeat;
}

#labelMessagesIcon{
    -fx-background-image: url("messages.png");
    -fx-background-repeat: no-repeat;
}

#labelDeleteFriendshipIcon{
    -fx-background-image: url("minus.png");
    -fx-background-repeat: no-repeat;
}


#labelNextPageEvent{
    -fx-background-image: url("nextPageEvent.png");
    -fx-background-repeat: no-repeat;
}

#labelAddRequestIcon{
    -fx-background-image: url("plus.png");
    -fx-background-repeat: no-repeat;
}

#labelPreviousPageEvent{
    -fx-background-image: url("previousPageEvent.png");
    -fx-background-repeat: no-repeat;
}


#labelViewRequestsIcons{
    -fx-background-image: url("view.png");
    -fx-background-repeat: no-repeat;
}

#labelUserName{
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-background-color: none;
    -fx-text-fill: #ffffff;;
}

#paneAccount{
    -fx-background-color: #536976;
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;

}

#paneEvents{
    -fx-background-color: #536976;
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
}


#labelNameEvent{
    -fx-background-color: #94b6ca;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
    -fx-alignment: center;
}


#labelShowDescription{
    -fx-background-color: #94b6ca;
    -fx-background-radius:0 0 7 7 ;
    -fx-border-radius: 0 0 7 7 ;
    -fx-alignment: center;
}

#labelHideDescription{
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
    -fx-background-color: #94b6ca;
    -fx-alignment: center;
}

#labelDescription{
    -fx-background-color: #94b6ca;
    -fx-alignment: center;
}


#labelNrParticipants{
    -fx-background-color: #94b6ca;
    -fx-alignment: center;
}

#labelDateEvent{
    -fx-background-color: #94b6ca;
    -fx-alignment: center;
    -fx-background-radius:0 0 7 7 ;
    -fx-border-radius: 0 0 7 7 ;
}

#tabPaneFriendsMessagesRequests .tab-header-area .tab-header-background{
    -fx-background-color: #536976;
}

#tabFriends{
    -fx-background-color: #495d66;
    -fx-border-color:#536976;

}

#tabFriends:hover{
    -fx-background-color: #5b7280;

}

#tabMessages{
    -fx-background-color: #495d66;
    -fx-border-color:#536976;

}

#tabMessages:hover{
    -fx-background-color: #5b7280;

}

#tabFriendshipRequests{
    -fx-background-color: #495d66;
    -fx-border-color:#536976;

}

#tabFriendshipRequests:hover{
    -fx-background-color: #5b7280;

}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #39484f;
}

/*
set text fill collor on tab
 */
.tab-label{
    -fx-text-fill: white;
}

/*
set background color on column
 */
#tableColumnFirstNameFriends{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;
}

#tableColumnLastNameFriends{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;
}


#tableColumnDataMessages{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;
}

#tableColumnFromMessages{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableColumnMessageMessages{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableColumnFromRequests{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableColumnMessageRequests{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableColumnDataRequests{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableViewFriends{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableViewMessages{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}

#tableViewRequests{
    -fx-background-color: linear-gradient(#536976, #4a606b);
    -fx-text-fill: white;}


/*
set text fill when selected on cell
 */
.table-cell:filled{
    -fx-text-fill: black;
}


#buttonCreateEvent{
    -fx-background-color: #495d66;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#buttonCreateEvent:hover{
    -fx-background-color: #5b7280;
}

#buttonInterestedNotInterested{
    -fx-background-color: #495d66;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#buttonInterestedNotInterested:hover{
    -fx-background-color: #5b7280;
}

#buttonDisable{
    -fx-background-color: #5b7280;;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#buttonDisable:hover{
    -fx-background-color: #36434c;
}


#paneNotification{
    -fx-background-color: #495d66;
}
#tableViewNotification{
    -fx-background-color: #495d66;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 15;
    -fx-border-color: #354248;

}
/*#tableColumnNotification{*/
/*    -fx-background-color: #495d66;*/
/*    -fx-border-color: #354248;*/
/*    -fx-background-repeat: no-repeat;*/
/*    -fx-text-fill: white;}*/

#tableColumnNotification:hover{
    -fx-background-color: #607988;

}

#tableColumnNotification.column-header{
    -fx-background-color: #5b7280;
}

.table-row-cell:selected{
    -fx-background-color: #607988;
}

#labelLogout{
    -fx-background-image: url("logout.png");
    -fx-background-repeat: no-repeat;
}


