
.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #176473;
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow( gaussian , rgb(1, 17, 17), 0,0,0,1 );

}

#buttonSignOff:hover{
    -fx-background-color: #a4efef;
}
#buttonSignOff{
    -fx-background-color: linear-gradient(#b3eff1, #a1d2ee);
}



#buttonSendFriendshipRequest:hover{
    -fx-background-color: #a4efef;
}

#buttonSendFriendshipRequest{
    -fx-background-color: linear-gradient(#b3eff1, #a1d2ee);
}

#textFieldSearch{
    -fx-background-color: linear-gradient(#a1d2ee,#b3eff1);
}

#textFieldMessage{
    -fx-background-color: linear-gradient(#a1d2ee,#b3eff1);
}

