


.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #176473;
  //  -fx-effect: dropshadow( gaussian , rgba(214, 66, 20, 0.5), 0,0,0,1 );
    -fx-background-color: #5f9ea0;
}


.table-row-cell:selected{
    -fx-background-color: linear-gradient(#536976,#5f9ea0);
}

#labelWelcome{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-background-color: none;
    -fx-effect: dropshadow(three-pass-box, rgb(16, 106, 109), 10, 0, 0, 0);

}


#ButtonAccountUser:hover{
    -fx-background-color: #6d8ea0;
}

#ButtonAccountUser{
    -fx-background-color: #83aac1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;

}

#passwordFiled{
    -fx-background-image: url('key1.png');
    -fx-background-position: 93%;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10;
}

#textFieldUsername{
    -fx-background-image: url('email.png');
    -fx-background-position: 93%;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 10;

}
#labelCreateYourAccount{
    -fx-background-color: false;
    -fx-text-fill: #ffffff;
}

#labelCreateYourAccount:hover{
    -fx-background-color: #83aac1;
    -fx-background-radius: 8;
    -fx-font-size: 16px;
}

#ButtonAccountUser{
    -fx-background-radius: 10;
}

#labelNameApplication{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#labelBackCreateAccout{
    -fx-background-image: url('back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;;

}
